<div users-pagination></div>
<div ng-show="usersLoading">
	<h3 class="text-primary text-center">Loading...</h3>
	<img src="images/loading.gif" />
</div>
<div>
	<table class="table table-striped table-hover">
		<thead>
			<tr class="info">
				<th>
					Username
					<div class="btn-group">
						<button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
					    	<li><a href ng-click="sortBy('UserName')">Sort ascending</a></li>
					    	<li><a href ng-click="sortBy('-UserName')">Sort descending</a></li>
					    	<li class="divider"></li>
					    	<li><a href ng-click="sortBy(null)">Remove sorting</a></li>
						</ul>
					</div>
				</th>
				<th>
					Name
					<div class="btn-group">
						<button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
					    	<li><a href ng-click="sortBy('Name')">Sort ascending</a></li>
					    	<li><a href ng-click="sortBy('-Name')">Sort descending</a></li>
					    	<li class="divider"></li>
					    	<li><a href ng-click="sortBy(null)">Remove sorting</a></li>
						</ul>
					</div>
				</th>
				<th>
					Email
					<div class="btn-group">
						<button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
					    	<li><a href ng-click="sortBy('Email')">Sort ascending</a></li>
					    	<li><a href ng-click="sortBy('-Email')">Sort descending</a></li>
					    	<li class="divider"></li>
					    	<li><a href ng-click="sortBy(null)">Remove sorting</a></li>
						</ul>
					</div>
				</th>
				<th>
					Phone
					<div class="btn-group">
						<button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
					    	<li><a href ng-click="sortBy('PhoneNumber')">Sort ascending</a></li>
					    	<li><a href ng-click="sortBy('-PhoneNumber')">Sort descending</a></li>
					    	<li class="divider"></li>
					    	<li><a href ng-click="sortBy(null)">Remove sorting</a></li>
						</ul>
					</div>
				</th>
				<th>
					Town
					<div class="btn-group">
						<button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
					    	<li><a href ng-click="sortBy('Town.Name')">Sort ascending</a></li>
					    	<li><a href ng-click="sortBy('-Town.Name')">Sort descending</a></li>
					    	<li class="divider"></li>
					    	<li><a href ng-click="sortBy(null)">Remove sorting</a></li>
						</ul>
					</div>
				</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users.users">
				<td>{{ user.username }}</td>
				<td>{{ user.name }}</td>
				<td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
				<td><a href="tel:{{ user.phoneNumber }}">{{ user.phoneNumber }}</a></td>
				<td>{{ user.townName }}</td>
				<td>
					<div class="btn-group btn-group-justified">
						<a href class="btn btn-warning btn-sm">Edit</a>
						<a href class="btn btn-danger btn-sm">Delete</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div users-pagination></div>