<div class="row">
	<div class="col-md-6">
		<div class="well">
			<form class="form-horizontal" name="editProfileForm" novalidate>
				<fieldset>
			    	<legend>Edit Profile</legend>
			    	<div class="form-group" ng-class="{'has-error': editProfileForm.name.$invalid && editProfileForm.name.$dirty}">
				    	<label for="inputName" class="control-label">Name</label>
				    	<input type="text" required class="form-control" id="inputName" name="name" placeholder="Name" ng-model="userData.name">
				    	<p ng-show="editProfileForm.name.$invalid && editProfileForm.name.$dirty" class="help-block">Name is required.</p>
				    </div>
				    <div class="form-group" ng-class="{'has-error': editProfileForm.email.$invalid && editProfileForm.email.$dirty}">
					    <label for="inputEmail" class="control-label">Email</label>
					    <input type="email" required class="form-control" id="inputEmail" name="email" placeholder="Email" ng-model="userData.email">
					    <p ng-show="editProfileForm.email.$error.required && editProfileForm.email.$dirty" class="help-block">Email is required.</p>
					    <p ng-show="editProfileForm.email.$error.email && editProfileForm.email.$dirty" class="help-block">Please enter a valid email.</p>
				    </div>
				    <div class="form-group">
				    	<label for="inputPhone" class="control-label">Phone</label>
				    	<input type="tel" class="form-control" id="inputPhone" name="phoneNumber" placeholder="Phone" ng-model="userData.phoneNumber">
				    </div>
				    <div class="form-group">
					    <label for="inputTown" class="control-label">Town</label>
					    <select class="form-control" id="inputTown" name="town" ng-model="userData.townId">
					    	<option value="{{ nullVal }}"></option>
					    	<option ng-repeat="town in towns" value="{{ town.id }}">{{ town.name }}</option>
					    </select>
				    </div>
				    <div class="form-group">
					    <div class="improve-margins">
					    	<a href="#/user/ads" class="btn btn-default">Cancel</a>
					    	<button class="btn btn-primary" ng-disabled="editProfileForm.$invalid" ng-click="editProfile(userData)">Update</button>
					    </div>
					</div>
			    </fieldset>
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			<form class="form-horizontal" name="changePasswordForm" novalidate>
				<fieldset>
			    	<legend>Change Password</legend>
			    	<div class="form-group" ng-class="{'has-error': changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$dirty}">
				    	<label for="inputOldPassword" class="control-label">Old Password</label>
				    	<input type="password" required class="form-control" id="inputOldPassword" name="oldPassword" placeholder="Old Password" ng-model="userData.oldPassword" ng-minlength="2" ng-maxlength="100">
				    	<p ng-show="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$dirty" class="help-block">Password is required.</p>
				    	<p ng-show="changePasswordForm.oldPassword.$error.minlength" class="help-block">Password must be at least 2 characters.</p>
				    	<p ng-show="changePasswordForm.oldPassword.$error.maxlength" class="help-block">Password must be at most 100 characters.</p>
				    </div>
			    	<div class="form-group" ng-class="{'has-error': changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$dirty}">
				    	<label for="inputNewPassword" class="control-label">New Password</label>
				    	<input type="password" required class="form-control" id="inputNewPassword" name="newPassword" placeholder="New Password" ng-model="userData.newPassword" ng-minlength="2" ng-maxlength="100">
				    	<p ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$dirty" class="help-block">Password is required.</p>
				    	<p ng-show="changePasswordForm.newPassword.$error.minlength" class="help-block">Password must be at least 2 characters.</p>
				    	<p ng-show="changePasswordForm.newPassword.$error.maxlength" class="help-block">Password must be at most 100 characters.</p>
				    </div>
				    <div class="form-group" ng-class="{'has-error': (userData.confirmPassword != userData.newPassword) && changePasswordForm.confirmPassword.$dirty}">
					    <label for="inputPassword" class="control-label">Confirm Password</label>
					    <input type="password" required class="form-control" id="inputConfirmPassword" name="confirmPassword" placeholder="Confirm Password" ng-model="userData.confirmPassword">
					    <p ng-show="(userData.confirmPassword != userData.newPassword) && changePasswordForm.confirmPassword.$dirty" class="help-block">Confirm password is not the same as password.</p>
				    </div>
				    <div class="form-group">
					    <div class="improve-margins">
					    	<a href="#/user/ads" class="btn btn-default">Cancel</a>
					    	<button class="btn btn-primary" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword(userData)">Change Password</button>
					    </div>
					</div>
			    </fieldset>
			</form>
		</div>
	</div>
</div>