<div class="well">
	<form class="form-horizontal" name="registerForm">
	  <fieldset>
	    <legend>Register</legend>
	    <div class="improve-margins">
		    <div class="form-group">
		    	<label for="inputUsername" class="control-label">Username</label>
		    	<input type="text" required class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username">
		    </div>
	    </div>
	    <div class="row">
	    	<div class="col-md-6">
	    		<div class="improve-margins">
		    		<div class="form-group">
				    	<label for="inputPassword" class="control-label">Password</label>
				    	<input type="password" required class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
				    </div>
				    <div class="form-group">
				    	<label for="inputName" class="control-label">Name</label>
				    	<input type="text" required class="form-control" id="inputName" placeholder="Name" ng-model="user.name">
				    </div>
				    <div class="form-group">
				    	<label for="inputPhone" class="control-label">Phone</label>
				    	<input type="tel" required class="form-control" id="inputPhone" placeholder="Phone" ng-model="user.phone">
				    </div>
			    </div>
	    	</div>
	    	<div class="col-md-6">
	    		<div class="improve-margins">
		    		<div class="form-group">
					    <label for="inputPassword" class="control-label">Confirm Password</label>
					    <input type="password" required class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" ng-model="user.confirmPassword">
				    </div>
				    <div class="form-group">
					    <label for="inputEmail" class="control-label">Email</label>
					    <input type="email" required class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
				    </div>
				    <div class="form-group">
					    <label for="inputTown" class="control-label">Town</label>
					    <select class="form-control" id="inputTown" ng-model="selectedTown" ng-model="user.townId"></select>
				    </div>
			    </div>
	    	</div>
	    </div>
	    <div class="form-group">
	      <div class="improve-margins">
	        <a href="#/login" class="btn btn-default">Login</a>
	        <button class="btn btn-primary" ng-click="register(user)">Register</button>
	      </div>
	    </div>
	  </fieldset>
	</form>
</div>